.dRenderingIsometricFdgdf2Icon {
  width: 346px;
  position: relative;
  height: 199px;
  object-fit: cover;
}
.dRenderingIsometricFdgdf2Parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  gap: var(--gap-31xl);
}
.poweredBy {
  height: 27px;
  position: relative;
  line-height: 130%;
  font-weight: 300;
  display: inline-block;
}
.letterLogo2 {
  align-self: stretch;
  width: 169px;
  position: relative;
  height: 25px;
  object-fit: fill;
  mix-blend-mode: normal;
}
.poweredByParent {
  flex: 1;
  flex-direction: row;
  gap: 2px;
}
.demoForm3,
.demoForm3Inner,
.poweredByParent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.demoForm3Inner {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xl) 0;
}
.demoForm3 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 150px 0;
  box-sizing: border-box;
  gap: var(--gap-131xl);
  background-image: url(/demo-form-3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  mix-blend-mode: normal;
  text-align: center;
  font-size: 21px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .dRenderingIsometricFdgdf2Parent {
    gap: var(--gap-31xl);
  }
  .poweredBy {
    font-weight: 300;
    font-family: var(--font-montserrat);
    font-size: 17px;
  }
  .demoForm3Inner {
    display: flex;
  }
  .demoForm3 {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .dRenderingIsometricFdgdf2Parent {
    flex-direction: column;
  }
  .demoForm3Inner {
    display: flex;
  }
}
@media screen and (max-width: 420px) {
  .dRenderingIsometricFdgdf2Icon {
    display: flex;
  }
  .dRenderingIsometricFdgdf2Parent {
    display: flex;
    flex: 1;
    gap: 10px;
  }
  .poweredBy {
    font-weight: 100;
    font-family: var(--font-montserrat);
    font-size: 15px;
  }
  .letterLogo2 {
    width: 100px;
    height: 15px;
  }
  .demoForm3Inner {
    display: flex;
    margin-top: -100px;
  }
  .demoForm3 {
    gap: var(--gap-131xl);
    padding-top: var(--padding-11xl);
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
}
